.input {
  border: 1px solid var(--light);
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  height: 48px;
  padding: 16px;
}

.input.active {
  border: 1px solid var(--purple);
}

.input:focus-visible {
  border: 1px solid var(--purple);
  outline: none;
}

.inputWrapper {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.inputWrapper svg {
  transform: translateX(-32px);
}
