.InvoiceCard {
  display: flex;
  gap: 40px;
  background: var(--white);
  box-shadow: var(--boxShadow-card);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 24px 24px 24px 32px;
  justify-content: space-between;
  align-items: center;
}
.item {
  font-size: 12px;
}
.id {
  font-family: "Bold";
}
.id span {
  font: inherit;
  color: var(--cove);
}
.paymentDue {
  color: var(--cove);
}
.clientName {
  color: var(--cove);
}
.total {
  font-family: "Bold";  font-size: 16px;
}
.tag {
  display: flex;
  gap: 20px;
  align-items: center;
}
