.title {
  font-family: "SemiBold";
}

.subtitle {
  font-family: "Regular";
  font-size: 12px;
  color: var(--grey);
}

.boldedSubtitle {
  font-family: "SemiBold";
  font-size: 12px;
  color: var(--grey);
}

.bold {
  font-family: "SemiBold";
  font-size: 16px;
  color: var(--dark);
}

.normal {
  font-family: "SemiBold";
  font-size: 12px;
  color: var(--dark);
}
