.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.checkbox {
  position: relative;
  background-color: var(--light);
  border: 1px solid var(--light);
  height: 16px;
  width: 16px;
  border-radius: 2px;
}
.wrapper:hover .checkbox {
  border: 1px solid var(--purple);
}
.checkbox.active {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}
.wrapper svg {
  position: absolute;
  transform: translateX(3px);
}
