.Controls {
  box-shadow: var(--boxShadow-card);
  display: flex;
  padding: 20px 32px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.right {
  display: flex;
  gap: 8px;
}
