.NotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; /* stupid */
}
.NotFoundContent {
}
.NotFoundContent svg {
}
.NotFoundContent h1 {
  padding-top: 64px;
  padding-bottom: 24px;
  font-size: 20px;
  text-align: center;
}
.NotFoundContent p {
  color: var(--grey);
  text-align: center;
  font-size: 12px;
}
