@import url("./variables.css");
@import url("./fonts.css");
@import url("../components/abstractions/Calendar/Calendar.css");
@import url("./404.css");

* {
  font-family: "Regular";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.main {
  width: 70%;
  margin: 0 auto;
  transform: translateX(60px);
}

.field {
  border: 1px solid var(--light);
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  height: 48px;
  padding: 16px;
}
.page {
  background-color: var(--grey-background);
}
.flex {
  display: flex;
}
