:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
}

.calendarContainer {
  width: 300px;
}