@import url("./variables.css");
@import url("./fonts.css");
@import url("../components/Calendar/Calendar.css");

* {
  font-family: "Medium";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.field {
  border: 1px solid var(--light);
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  height: 48px;
  padding: 16px;
  min-width: 240px;
}