.field {
  border: 1px solid var(--light);
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  height: 48px;
  padding: 16px;
  min-width: 240px;
}

.field.active {
  border: 1px solid var(--purple);
}

.fieldWrapper {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.fieldWrapper svg {
  transform: translateX(-32px);
}
