.field {
  border: 1px solid var(--light);
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  height: 48px;
  padding: 16px;
  min-width: 240px;
}

.field.active {
  border: 1px solid var(--purple);
}

.fieldWrapper {
  padding-top: 10px;
  position: relative;
}

.icon {
  position: absolute;
  top: 28px;
  right: 20px;
}
