.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.DialogContent {
  width: 50vw;
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  left: 100px;
  top: 0;
  padding-top: 56px;
  padding-right: 56px;
  padding-bottom: 32px;
  padding-left: 56px;
  position: absolute;
  min-height: 100vh;
}
.DialogContent:focus {
  outline: none;
}