.Header {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
}

.left .title {
  padding-bottom: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.filter {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
