.Header {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
}

.left .title {
  padding-bottom: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.filter {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  position: relative;
}

.filterItems {
  padding: 24px;
  top: 24px;
  box-shadow: var(--boxShadow-field);
  border-radius: 8px;
  position: absolute;
}
